<div id="img-log">
  <!-- image is from Subtle Patterns -->


<div class="col-md-12" id="main-form">
  <div class="form">
    <form method="POST" action="/auth/login">

      <div class="form-group">
        <label>Barname</label>
        <input type="text" class="form-control" id="barname" name="barname" />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="pwd" name="password" />
      </div>

      {{#if errorMessage}}

      <div class="error">
        {{errorMessage}}
      </div>

      {{/if}}

      <div class="text-center do-not">
        <button type="submit" class="btn btn-signup">
          <span class="glyphicon glyphicon"></span>Log-in
        </button>
        <p>Don't have an accout?<a href="/auth/signup"> Sing up!</a></p>
      </div>
    </form>
  </div>
</div>
</div>
<div class="lennie"></div>